/* #region Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/* #endregion Reset */

/* #region Colors */
:root{
    --header: #ff6900;
    --footer: #1a1a1a;
    --sustain: #008000;
    --sale: #ff0000;
}
/* #endregion Colors */

/* #region Utility */
.d-flex{
    display: flex;
}
.d-inl{
    display: inline;
}
.pos-r{
    position:relative;
}
/* #endregion Utility */

/* #region Header */
header a{
    color: white;
    padding: 0 5px;
    text-decoration: none;
}
header{
    height:50px;
    width: 100%;
    background-color: var(--header);
    align-items: center;
    position:fixed;
    top:0;
    z-index:2;
}

nav{
    width:70%;
    margin: auto;
    justify-content: space-between;
}

.logo img{
    width:100px;
}
/* #endregion Header */

/* #region Main */
main{
    width:70%;
    margin: 110px auto 0;
}
.col4{
    width: calc(100% / 12 * 4);
    padding:0 5px;
}
.col4 img{
    width:100%;
}
.back{
    display: none;
}
.col4 .box{
    color: white;
}
.brand{
    color: gray;
}
.cost span{
    padding:3px 8px 0 0;
    color:var(--sale);
}
.cost span:last-child{
    color: gray;
    text-decoration: line-through;
}
.sale{
    background-color: var(--sale);
    padding: 6px 10px;
    bottom: 120px;
}
.sustain{
    background-color: var(--sustain);
    padding: 6px 10px;
    bottom: 120px;
}
.heart{
    padding: 15px;
    color: black;
    background-color: white;
    font-size: 2rem;
    top: 62px;
    right: -309px;
    z-index:1;
}
.heart:hover{
    color:red;
}

/* #endregion Main */

/* #region Footer */
footer{
height:90px;
background: var(--footer);
align-items: center;
}
.contacts{
    width:70%;
    margin: auto;
    justify-content: space-between;
    color: white;
}
.contact a{
    text-decoration: none;
    color:white;
    padding-right: 5px;
}
h5{
    padding-bottom: 10px;
}
h6{
    padding-bottom: 5px;
}
.fa-brands{
    padding:2px;
}
/* #endregion Footer */
